*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  padding: 12px 24px;
  background: lightblue;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.modal {
  position: fixed;
  width: 100dvw;
  height: 100dvh;

  background: rgba(0, 0, 0, 0.352);
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  z-index: 10;
  background-color: white;

  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  padding: 24px;
  border-radius: 8px;

  max-width: 95%;
}

.error {
  color: red;
  line-break: auto;
}

.quizes {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.loading {
  color: blue;
}

.success {
  color: green;
}

.current_quiz {
  width: 100%;
  margin-top: 80px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
